@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Slide up from bottom */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}

.timeline-container {
  &.vertical {
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 20px 0;

    .timeline-bar {
      position: absolute;
      top: 0;
      left: 50%;
      width: 4px;
      background-color: #007bff;
      height: 100%;
      transform: translateX(-50%);
    }

    .timeline-items {
      .timeline-item {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        opacity: 0;
        transform: translateY(30px); /* Initial state for animation */

        &.left,
        &.right {
          animation: fadeInUp 0.5s ease-out forwards; /* Animation applied */
        }
        &.in-view {
          opacity: 1;
          transform: translateY(0);
        }
        &.left {
          .timeline-date {
            // padding-right: 50px;
          }

          .timeline-content {
            text-align: left;
            // margin-left: 50px;
          }
        }
        &.right {
          flex-direction: row-reverse;

          .timeline-date {
            text-align: left;
          }

          .timeline-content {
            text-align: right;
          }
        }
        .timeline-date {
          text-align: right;
          font-size: 14px;
          color: #6c757d;
          width: 40%;
        }

        .timeline-icon {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          background-color: #fff;
          border: 2px solid #007bff;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #007bff;
          z-index: 2;
          transition: all 0.4s ease-in-out;
          padding: 10px;
        }

        .timeline-content {
          text-align: left;
          font-size: 16px;
          width: 40%;
          padding: 20px;
          box-sizing: border-box;
          border-radius: 10px;

          .timeline-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 0;
          }

          .timeline-description {
            font-size: 14px;
            color: #333;
          }
        }
      }
    }
    .carousel-button {
      display: none;
    }
  }
  // Style For Horizontal
  &.horizontal {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    .timeline-bar {
      position: absolute;
      width: 100%;
      background-color: #007bff;
      height: 4px;
      left: 0;
    }
    .timeline-items {
      display: flex;
      transition: transform 0.5s ease-in-out;
      transform: translateX(0);

      .timeline-item {
        flex: 0 0 calc(50% - 40px);
        margin: 0 20px;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        align-items: end;

        .timeline-date {
          position: absolute;
          width: 100%;
        }
        .timeline-icon {
          position: absolute;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #007bff;
          z-index: 2;
          transition: all 0.4s ease-in-out;
          padding: 10px;
        }
        .timeline-content {
          padding: 20px;
          border-radius: 10px;
        }
      }
    }
    .carousel-button {
      position: absolute;
    }
    .carousel-button.prev {
      left: 0;
      z-index: 10;
    }
    .carousel-button.next {
      right: 0;
    }
  }
}
